/* ========================================
   GBC Radius Medium (Default)
   ======================================== */

:root {
	--corner-radius-full: 50px;
	--corner-radius-extra-large: 28px;
	--corner-radius-large: 16px;
	--corner-radius-medium: 12px;
	--corner-radius-small: 8px;
	--corner-radius-extra-small: 4px;
	--corner-radius-none: 0px;
}
